{% extends "blog/base.html" %} {% block content %}
<form method="post" action="{% url 'blog:post_list' %}">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <!-- <label>件名</label><br />
  <input
    type="text"
    name="subject"
    maxlength="100"
    value=""
    placeholder="１００文字以内で入力"
  /><br />
  <label>内容</label><br />
  <input
    type="text"
    name="message"
    maxlength="1000"
    value=""
    placeholder="１０００文字以内で入力"
  /><br />
  <label>お名前</label><br />
  <input
    type="text"
    name="sender"
    maxlength="100"
    value=""
    placeholder="フルネーム"
  /><br /> -->

    <input type="submit" value="送信" />
</form>
{% endblock content %}